# Dependencias
node_modules/
.pnp
.pnp.js

# Builds
dist/
build/
.output/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ambiente e segredos
.env
.env.local
.env.production
.env.development

# AdonisJS
.adonisjs/
tmp/

# IDE e Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db
